# fly.toml app configuration file generated for serene-backend on 2025-12-03T10:04:41-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'serene-backend'
primary_region = 'dfw'

[build]
  dockerfile = 'Dockerfile'

[processes]
  web = 'uvicorn app.main:app --host 0.0.0.0 --port 8080'
  worker = 'python start_agent.py start'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['web']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
