fastapi
uvicorn
python-dotenv
livekit-agents[silero]
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
livekit-plugins-noise-cancellation
livekit-api
openai
deepgram-sdk
elevenlabs
langchain
langchain-openai
langchain-chroma
chromadb
voyageai
mistralai
sqlalchemy
psycopg2-binary
pydantic-settings
supabase
pinecone
httpx
pydub
boto3

langfuse
python-multipart
